
<h1>

    TempData verisi => @TempData["sayi"]
    TempData verisi => @TempData["sayi"]
    TempData verisi => @TempData["sayi"]
    TempData verisi => @TempData["sayi"]
    TempData verisi => @TempData["sayi"]
    TempData verisi => @TempData["sayi"]

</h1>